/*
 * Max Nanis <nanis@scripps.edu>
*/
#window {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 120%;
  color: #333;
}

/*
 * Header of the page
*/

#header {
  border-bottom: 4px solid #cccccc;
  overflow: hidden;
  position: relative;
}

#header a {
  color: #4B81C5;
  text-decoration: none;
}

#header a:hover {
  color: #4B81C5;
  text-decoration: underline;
}

/* Factors */

#factors {
  overflow: hidden;
  float: left;
}

#factors h2 {
  width: 120px;
  padding: 8px;
}

#factors ul {
  float: left;
  overflow: hidden;
  margin: 0px;
}

#factors ul li {
  float: left;
  padding: 4px 2px 4px 2px;
  margin: 2px;
  cursor: move;
  width: 20px;
  background-color: #ccc;
}

#factors ul li.ui-state-highlight {
  border: none;
  background-color: #ccdaff;
  width: 20px;
  height: 80px;
}

#factors ul li input {
  display: block;
  margin: 4px;
}

#factors ul li .options_sort {
  margin: 3px;
}

#factors ul li input.aggregate {
  margin: 0px 4px 4px 4px;
}

#factors ul li div.header {
  height: 80px;
  position: relative;
}

#factors ul li p.header {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);

  position: absolute;
  bottom: 6px;
  width: 300px;
  height: 300px;
}

/* Factor Options Modal */

table.factor_options {
  height: 600px;
  display: block;
  overflow: scroll;
}

table.factor_options .ui-state-highlight {
  border: none;
  background-color: #ccdaff;
  height: 40px;
}

/* Controls */

#header #controls {
  overflow: hidden;
  float: left;
  margin: 2px;
  position: relative;
}

#header #controls span.label {
  margin-bottom: 2px;
}

/* Meta Info */

#header #meta_info {
  overflow: hidden;
  margin: 2px 2px 20px 2px;
}

/* Search */

div.input-append.search {
  position: absolute;
  top: 6px;
  right: 6px;
}

/* Zoom */

#header #slider {
  margin: 6px 6px 6px 18px;
  padding: 6px 12px 6px 12px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;

  width: 500px;
}

#header #slider #zoom {
  position: absolute;
  top: 5px;
  left: 4px;

  width: 96%;
  height: 1px;
  background-color: #ccc;
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;

  width: 12px;
  height: 12px;

  cursor: pointer;
  background-color: #ccc;

  outline: none;
  top: -5px;
  border-radius: 6px;
}

.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-active {
  background: #333;
}

/* Content section of the app */

#content {
  position: relative;
}

#footer #navigation {
  position: fixed;
  bottom: 6px;
  right: 6px;
}

/* Dataset browser */

#browser-btn {
  position: absolute;
  top: 40px;
  right: 6px;
}

/* Graph region */
.datachart {
  width: 100%;
}

/* Utils */

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 14px;
  width: 14px;
  padding: 2px;

  cursor: pointer;

  -webkit-box-shadow: inset 0px 0px 4px 0px #333;
  box-shadow: inset 0px 0px 4px 0px #333;
  background: #fff;
}

input[type=checkbox]:checked {
  background: url('../img/check.png') left center no-repeat #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.tooltip,
div.infotip {
  color: #000;
  background-color: #fff;

  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  padding: 1px 2px 1px 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
div.infotip h3 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

div.infotip strong {
  font-weight: bold;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background-color: #666;
    background-color: rba(0,0,0,.2);
    display: none;
}

#colorpicker {
  position: absolute;
  top: 0;
  left: 300px;
}

input#color {
  height: 12px;
  width: 22px;
  float: right;
  top: 12px;
  position: relative;
  right: 4px;
}

textarea.export {
  font-family: Andale Mono, monospace;
}
